/* General ********************************************************************/
:root {
    --background-colour: #222222;
    --text-colour: #FFFFFF;
    --border-colour: #FFFFFF;
    --button-colour: #333333;
    --button-active-colour: #111111;
    --footer-background-colour: #292929;
}

* {
    font-family: Futura, "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
            "Lucida Sans", Arial, sans-serif;
}

body, html {
    margin: 0;
    padding: 0;

    font-size: 16px;
    font-style: normal;
    font-weight: normal;

    background-color: var(--background-colour);
    color: var(--text-colour);
}

input::-webkit-inner-spin-button, input::-webkit-outer-spin-button {
    margin: 0;

    -webkit-appearance: none;
    appearance: none;
}

input[type=number] {
    -moz-appearance: textfield;
    appearance: textfield;
}

/* Header *********************************************************************/
h1 {
    margin: 0;
    padding: 24px 0px;

    font-size: 4rem;
    text-align: center;
}

header {
    height: 15vh;
}

/* Main ***********************************************************************/
main {
    min-height: 100vh;
}

.container {
    margin: 0 auto;
    width: 70%;
}

.container-heading {
    font-size: 2.5rem;
    text-align: center;
    text-decoration: underline;
}

.container-form {

}

.form-legend {
    font-size: 1.5rem;
    text-align: center;
}

.form-count {
    display: block;

    margin: 35px auto;
    height: 60px;
    border-radius: 6px;

    font-size: 2.5rem;
}

.form-submit {
    display: block;
    
    margin: 35px auto;
    width: 240px;
    height: 60px;
    border: 2px solid var(--border-colour);
    border-radius: 6px;

    background-color: var(--button-colour);

    color: var(--text-colour);
    font-size: 2rem;
}

.form-submit:active {
    background-color: var(--button-active-colour);
}

.form-output {
    font-size: 3rem;
    line-height: 4.5lh;
    text-align: center;
}

#fibonacci {

}

#fibonacci .form-count {
    width: 400px;

    text-align: center;
}

#merge-sort {

}

#merge-sort .form-count {
    width: 800px;
    padding-right: 20px;
    padding-left: 20px;
}

/* Footer *********************************************************************/
footer {
    padding: 80px 15vw 0;

    background-color: var(--footer-background-colour);
}

#developer {
    display: flex;
    justify-content: space-between;

    padding: 0 0 80px 0;
    border-bottom: 1px solid var(--border-colour);
}

.developer-list {
    margin: 0;
    padding: 0;

    list-style-type: none;
}

.developer-list-item {
    margin: 20px 0;

    font-size: 1.1rem;
}

.developer-list-heading {
    margin: 40px 0;

    font-size: 1.3rem;
}

.developer-list-link {
    color: var(--text-colour);
    text-decoration: none;
}

.developer-list-link:hover {
    text-decoration: underline;
}

#data {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.data-list {
    display: flex;
    flex-direction: row;
    gap: 32px;

    margin: 30px 0;
    padding: 0;

    list-style-type: none;
}

.data-list-item {

}

.data-list-link {
    color: var(--text-colour);
    text-decoration: none;
}

.data-list-link:hover {
    
}

.data-list-item:hover {
    text-decoration: underline;

    cursor: pointer;
}

#copyright {
    padding: 30px 0 20px;

    text-align: center;
}

.copyright-item {
    font-size: 1.3rem;
}
